html,
body {
    background-color: #f0f0f0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

main {
    background-color: #f0f0f0;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    flex: 1;
    box-sizing: border-box;
}
